* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 15px;
    font-family: 'Spartan', sans-serif;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(images/bg-pattern-top-desktop.svg), url(images/bg-pattern-bottom-desktop.svg);
    background-repeat: no-repeat;
}

/* Container */

.container {
    max-width: 80%;
    max-height: 90%;
    display: grid;
    grid-template-areas: 
    "top"
    "bottom"
    "footer";
    grid-template-rows: 1fr 1fr 0.3fr;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

/* Top */

.top {
    display: grid;
    grid-template-areas: "principal avaliacao";
    grid-template-columns: 1fr 1fr;
    gap: 200px;
}

.principal {
    grid-area: principal;
}

.title {
    font-size: clamp(3rem, 4vw, 5rem);
    color: hsl(300, 43%, 22%);
}

.text-title {
    font-size: clamp(1.1rem, 1.3vw, 2rem);
    line-height: 2.2rem;
    font-weight: 500;
    color: hsl(303, 10%, 53%);
    margin-top: 10px;
}

.avaliacao {
    grid-area: avaliacao;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.ava {
    display: inline-block;
    padding: 20px 0px 20px 25px;
    width: 90%;
    margin-bottom: 10px;
    border-radius: 10px;
    font-size: clamp(1.1rem, 1vw, 2rem);
    font-weight: 700;
    color: hsl(300, 43%, 22%);
    background-color: hsl(300, 24%, 96%);
}

.ava::before {
    content: url("images/icon-star.svg") " " url("images/icon-star.svg") " " url("images/icon-star.svg") " " url("images/icon-star.svg") " " url("images/icon-star.svg") " ";
}

.ava-midle {
    transform: translateX(15%);
}

.ava-bottom {
    transform: translateX(30%);
}

/* Bottom */

.bottom {
    display: grid;
    grid-template-areas: "colton irene anne";
}

.box {
    display: grid;
    grid-template-areas: 
    "face name ."
    "face subtitle ."
    "text-box text-box text-box";

    background-color: hsl(300, 43%, 22%);
    margin-right: 25px;
    border-radius: 10px;
    color: white;
    padding: 35px;
    gap: 5px;
}

.colton {
    grid-area: colton;
}

.irene {
    grid-area: irene;
    transform: translateY(10%);
}

.anne {
    grid-area: anne;
    transform: translateY(20%);
}

.face {
    grid-area: face;
    border-radius: 50%;
    height: 50%;
    align-self: center;
}

.name {
    grid-area: name;
    margin-left: 20px;
    font-size: clamp(0.8rem, 0.5vw, 1.2rem);
    align-self: end;
}

.subtitle {
    grid-area: subtitle;
    margin-left: 20px;
    font-size: clamp(0.8rem, 0.5vw, 1.2rem);
    font-weight: 400;
    color: hsl(333, 80%, 67%);
}

.text-box {
    grid-area: text-box;
    grid-column: text-box;
    font-size: clamp(1rem, 0.8vw, 1.5rem);
    line-height: 1.7rem;
}

/* Footer */

.attribution {
    font-size: clamp(1rem, 1vw, 1.5rem);
    text-align: center;
    grid-area: footer;
    align-self: end;
    transform: translateY(200%);
  }
  .attribution a {
    color: hsl(228, 45%, 44%);
  }

  /* Responsive */

@media (max-width: 875px) {
    .top {
        grid-template-areas: 
        "principal"
        "avaliacao";
        gap: 15px;
        grid-template-columns: auto;
    }

    .text-title, .title {
        text-align: center;
    }

    .avaliacao {
        align-items: center;
        margin-top: 20px;
    }

    .ava {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-left: 0;
    }
    
    .ava::before {
        margin-bottom: 10px;
    }

    .ava-midle, .ava-bottom{
        transform: translate(0);
    }

    .bottom {
        grid-template-areas: 
        "colton"
        "irene"
        "anne";
    }
}
